version: '3.8'

services:
  dify:
    image: harbor.newtsp.newcowin.com/rd-tools/dify-tasker:7
    container_name: dify
    ports:
      - '8000:8000'
    networks:
      - dify-net
    volumes:
      - /data/dify-data:/data
    environment:
      - DIFY_API_URL=https://dify.kyoffice.cn/v1
      - DIFY_API_KEY=app-o7WVQztApWppQIqR7exy6OBH
      - WECHAT_ENCODING_AES_KEY=ATscRrSg8CyetlwIaB5pH7dIDkRcrOtC4lBUurTLsvU
      - WECHAT_TOKEN=KVtdT5ugqxBi3
      - LOGLEVEL=ERROR
      #- SQLITE_PATH=/data/dify.db
      - DB=${DB}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}

networks:
  dify-net:
    ipam:
      config:
        - subnet: "10.198.255.0/24"