version: '3.8'

services:
  dify:
    image: harbor.newtsp.newcowin.com/rd-tools/ray:55
    container_name: dify
    shm_size: 48gb
    networks:
      - dify-net
    volumes:
      - /DATA/01/ray:/data
    environment:
      - DIFY_API_URL=https://dify.kyoffice.cn/v1
      - DIFY_API_KEY=app-o7WVQztApWppQIqR7exy6OBH
      - WECHAT_ENCODING_AES_KEY=ATscRrSg8CyetlwIaB5pH7dIDkRcrOtC4lBUurTLsvU
      - WECHAT_TOKEN=KVtdT5ugqxBi3
      - LOGLEVEL=ERROR

networks:
  dify-net:
    ipam:
      config:
        - subnet: "10.198.255.0/24"