version: '3.8'

services:
  dify:
    image: harbor.newtsp.newcowin.com/rd-tools/dify-tasker:23
    container_name: dify
    ports:
      - '8000:8000'
    networks:
      - dify-net
    depends_on:
      - mysql
    volumes:
      - /data/dify-data:/data
    environment:
      - DIFY_API_URL=https://dify.kyoffice.cn/v1
      - DIFY_API_KEY=app-o7WVQztApWppQIqR7exy6OBH11
      - WECHAT_ENCODING_AES_KEY=ATscRrSg8CyetlwIaB5pH7dIDkRcrOtC4lBUurTLsvU11
      - WECHAT_TOKEN=KVtdT5ugqxBi311
      - LOGLEVEL=INFO
      #- SQLITE_PATH=/data/dify.db
      - RUN_MAIN=true
      - DB=${DB}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}

  mysql:
    image: mysql:8.0.33
    container_name: mysql8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: qwstfI9pNgntAxFqKnXO
      MYSQL_DATABASE: dify
      MYSQL_USER: dify
      MYSQL_PASSWORD: qwstfI9pNgntAxFqKnXO
      TZ: Asia/Shanghai
    volumes:
      - ./dify-data/data:/var/lib/mysql
      - ./dify-data/conf/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ./dify-data/log:/var/log/mysql
    networks:
      - dify-net
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci

networks:
  dify-net:
    ipam:
      config:
        - subnet: "10.198.255.0/24"